<%
  columns_info ||= (@unites[0].zh_cn.keys rescue nil) || Radar::BusinessLogic::Unite::columns_info(klass: @klass).each_pair.to_a.map(&:last).map(&:locale_key)

  column_class = []
  sample_datas = @unites.sample(10)
  sample_datas.present? && columns_info.each_with_index do |column, index|
    
    index_values = sample_datas.map{|data| data.zh_cn.values[index]}
    index_classes = index_values.map(&:class).uniq
    unless index_classes.size == 1
      column_class << nil
      next
    end

    case index_classes[0].to_s
    when 'Integer', 'Float'
      column_class << 'text-right'
    when 'String'
      if (index_values.map(&:size).uniq.size == 1)
        column_class << 'text-center'
      else
        column_class << nil
      end
    when 'Date', 'DateTime'
      column_class << 'text-center'
    else
      column_class << nil
    end 

  end 
%>
<% base_number = ((params[:page_number] || 1).to_i-1)*100 + 1 %>
<% @unites.each_with_index do |unite, index| %>
  <tr>
    <td class='text-center'><%= base_number+index  %></td>
    <% unite.zh_cn.values.each_with_index do |value, i|%>
      <td class="<%= column_class[i] %>"><%= value %></td>
    <% end %>
    <td class='text-center'>
      <%= link_to '管理', object_manages_path(klass: unite.klass, object_id: unite.id) %>
    </td>
  </tr>
<% end %>

<% unless @unites.present? %>
  <tr>
    <td colspan="<%= columns_info.size+2 %>" class='text-center'>
      -- 没有更多了 --
    </td>
  </tr>
<% end %>