<form accept-charset="UTF-8" id="<%= @api_code %>_api_params" class='api_params_div hide'>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <td class="text-center">名称</td>
      <td class="text-center">参数键</td>
      <td class="text-center w-25">示例值</td>
      <td class="text-center w-25">说明</td>
      <td class="text-center" style='width: 10%;'>默认值</td>
      <td class="text-center">参数类型</td>
      <td class="text-center">是否必填</td>
    </tr>
    <% @current_api[:attributes].each do |param|%>
      <tr>
        <td><%= param[:name] %></td>
        <td><%= param[:key] %></td>
        <td>
          <input class='form-control' name='<%= param[:key] %>' value="<%= param[:example]%>"/>
        </td>
        <td class='tl'><%= param[:explain] %></td>
        <td class="<%= param[:default].nil? ? 'text-center' : nil %>"><%= param[:default]%></td>
        <td class="text-center"><%= param[:value_type] %></td>
        <td class="text-center"><%= param[:necessary] ? '是' : '否' %></td>
      </tr>
    <% end %>
  </table>
</form>