<!DOCTYPE html>
<html>
<head>
  <title>Radar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= 
    res = Wireway::Spark.dashboard(api_code: :publish_other_request_assets, rely_assets: ["bootstrap_4", "jQuery_3_5_1"])
    res[1].html_safe if res[0]
  %>

  <%= stylesheet_link_tag    "radar/application", media: "all" %>
  <%#= javascript_include_tag "radar/application" %>
</head>
<body>
  <div class="container pt-3 main_title" id="space">
    <%= javascript_include_tag "radar/space" %>
    <% flash.each do |state, message| %>
      <div class="alert <%= (state == 'error') ? 'alert-danger' : 'alert-success' %> alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
