<%= write_rely_on_assets(type: :bootstrap_4) %>

<div class="jumbotron jumbotron-fluid">
  <div style="padding: 0 3%;">
    <h1 class="text-center" style="font-size:3rem;border-bottom: 1px dashed #C7C7C7; padding-bottom: 1%;"><%= @title %></h1>

    <% @content && @content.split('<br>').each do |content|%>
      <p style='text-indent: 1cm; font-style:oblique; font-size:1.1rem; color:rgba(37, 37, 37, 0.49);'>
        <%= content %>
      </p>
    <% end %>
  </div>
</div>