<%= write_rely_on_assets(type: :bootstrap_4) %>

<div style="line-height: 2em; border-bottom: 1px dashed #C7C7C7;">
  <% if @foreword.present? %>
    <p style='text-indent: 1cm; font-style:oblique; font-size:1rem; color:rgba(37, 37, 37, 0.49);'>
      <span style='font-size: 1.9rem;'>“<%= @foreword %>”</span>
    </p>
  <% end %>
  <div style='margin-top: -0.4%;'>
    <% @content.split('<br>').each do |content|%>
      <p style="text-indent: 1cm; font-size: 1.7rem;">
        <%= content %>
      </p>
    <% end %>
  </div>
</div>