<div class="jumbotron">
  <h1>数据管理</h1>
  <div>
    <% unless @unite.new_record? %>
      <button class='btn btn-primary' type='button' onclick="object.info.load()">详细信息</button>
      <button class='btn btn-primary' type='button' onclick="object.edit.load()">编辑修改</button>
      <button class='btn btn-primary' type='button' onclick="space.page.alert('TODO: 尚未实现')">软删除</button>
      <button class='btn btn-primary' type='button' onclick="object.delete()">删除数据</button>
    <% else %>

    <% end %>
    <button class='btn btn-primary' type='button' onclick="location.href='<%= manages_path() %>'">返回列表</button>
  </div>
</div>
<div id="object">
  <div id="objectInfo"></div>
  <div id="objectEdit"></div>
</div>



<script type="text/javascript">
  var object = $("#object")
  
  object.klass = "<%= @klass_name %>"
  object.id = "<%= @unite.id %>"
  object.clean = function () {
    $("#object> div").each(function(){
      $(this).addClass('d-none')
    })
  }
  object.display = function (this_) {
    this.clean()
    this_.removeClass('d-none')
  }

  // ======================基础操作======================
  // 对象详情
  object.info = $("#objectInfo")
  object.info.load = function () {
    object.display(this)
    if (this.children()[0]) return

    url = "<%= object_info_manages_path() %>"
    params = {klass: object.klass, object_id: object.id}
    space.network.ajax({"url": url, "params" : params}, function (result) {
      if (result[0]) object.info.append(result[1])
    })
  }
  object.info.reload = function () {
    this.children().remove()
    this.load()
  }
  // 新建/修改对象
  object.edit = $("#objectEdit")
  object.edit.load = function () {
    object.display(this)
    this.children().remove()
    params = {klass: object.klass, object_id: object.id}
    url = "<%= object_edit_manages_path() %>"
    space.network.ajax({"url": url, "params" : params}, function (result) {
      if (result[0]) object.edit.append(result[1])
    })
  }
  object.edit.submit = function () {
    formData = this.children('form').serialize()
    url = "<%= object_update_manages_path() %>"

    space.network.ajax({type: 'Post',url: url, params: formData}, function (result) {
      if (!result[0]) return

      res= result[1]
      if (!res.success) return space.page.alert(res.message || '数据保存失败')
      if ((object.id.length > 0) && (object.id == res.object_id)) return object.info.reload()

      url = "<%= object_manages_path() %>"
      url += '?klass='+object.klass+'&object_id='+res.object_id
      window.location.replace(url)
    })
  }
  // 删除对象
  object.delete = function () {
    url = "<%= object_delete_manages_path() %>"
    params = {klass: object.klass, object_id: object.id}
    space.network.ajax({"url": url, "params" : params}, function (result) {
      if (!result[0]) return
      if (!result[1].success) return space.page.alert(result[1].message)
      window.location.replace("<%= manages_path() %>")
    })
  }
  // ======================对象分析======================
  // 属性分析
  if (object.id.length > 0) {
    object.info.load()
  }else{
    object.edit.load()
  }
</script>