<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<%# 样式文件等要完全写入到页面中, 这样方便单独保存及打印 %>

<div class="table-responsive">
  <table class="table <%= (table_class || []).join(' ')%>">
    <thead>
      <tr>
        <td class='text-center'>序号</td>
        <% column_names.each do |column_name| %>
          <td class='text-center'><%= column_name %></td>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if column_datas.present? %>
        <% column_datas.each_with_index do |column_contents, columns_index| %>
          <tr>
            <td class='text-center'><%= columns_index + 1%></td>

            <% column_contents.each_with_index do |content, contents_index|%>
              <% tmp = [] %>
              <%# 如果内容长度相同添加居中样式 %>
              <% tmp << 'text-center' if (column_datas.map{|column_contents| column_contents[contents_index].size}.uniq.size == 1)%>
              <%# 如果内容为数字添加居右样式 %>
              <% tmp << 'text-right' if (Float(content) rescue false) %>
              <td class='<%= tmp.join(' ') %>'><%= content %></td>
            <% end %>

          </tr>
        <% end %>
      <% end %>

      <% unless column_datas.present? %>
        <tr><th colspan='<%= column_names.size+1 %>'>暂无记录</th></tr>
      <% end %>
    </tbody>
  </table>
</div>