<div id='exposed_api'>
  <div id='exposed_api_tag_cloud'></div>
  <div id='exposed_api_jumbotron'></div>
</div>

<div id='current_api' class='input-group mb-3'>
  <select id="current_api_select" class="form-control" onchange='ui.current_api.change()'>
    <option value=''>请选择具体api</option>
  </select>

  <div class="input-group-append">
    <button class="btn btn-danger" type="button" onclick="ui.api_forms.reset_params_value()" id='current_api_reset_params_value' disabled=true>重置</button>
    <button class="btn btn-primary" type="button" onclick="ui.api_forms.submit();" id='current_api_submit_button' disabled=true>提交</button>
  </div>
</div>

<div id='api_forms'></div>

<div id='api_results'></div>

<div id='readme' class='text-center'>
  <hr>
  <p>页面所涉及操作均可通过restful请求(详细信息参考README或F12),该页面仅为接口数据展示/交互.</p>
</div>

<script type="text/javascript">
  ui = new Object()
  exposed_api_ = []
  // ====== 开放接口相关开始 ======
  ui.exposed_api = $('#exposed_api')
  ui.exposed_api.all = function () {
    return exposed_api_
  }
  ui.exposed_api.add = function (item) {
    exposed_api_.push(item);
  }

  ui.exposed_api.jumbotron = $('#exposed_api_jumbotron')
  ui.exposed_api.jumbotron.add = function (platform_code, platform) {
    jumbotron = document.createElement('div')
    jumbotron.setAttribute('class', 'jumbotron')

    h1 = document.createElement('h3')
    h1.innerHTML = platform.name
    jumbotron.appendChild(h1)

    p = document.createElement('p')
    p.innerHTML = platform.explain
    jumbotron.appendChild(p)

    apiButtons = document.createElement('div')
    apiButtons.setAttribute('id', 'api_buttons_'+platform_code)
    buttonColors = ['btn-primary','btn-success','btn-info','btn-warning','btn-danger','btn-secondary','btn-dark','btn-light']

    jQuery.each(platform.exposed_api, function(key, info) {
      button = document.createElement('button')
      button.setAttribute('type', 'button')
      buttonColor = buttonColors[Math.floor((Math.random()*buttonColors.length))]
      button.setAttribute('class', 'btn ml-2 mb-2 '+buttonColor)
      button.setAttribute('onclick', "ui.current_api.change('"+platform_code+"', '"+key+"')")
      button.innerHTML = info.name
      apiButtons.appendChild(button)
    })

    jumbotron.appendChild(apiButtons)
    this[0].appendChild(jumbotron)
  }

  ui.exposed_api.tag_cloud = $('#exposed_api_tag_cloud')
  ui.exposed_api.tag_cloud.load = function () {
    if (!ui.exposed_api.all()[0]) return;

    tag_datas = {}
    jQuery.each(ui.exposed_api.all(), function(index, item) {
      zh_ratio = (Math.round(Math.random() * (20 - 10)) + 8)
      tag_datas[item.name] = {key_word: '['+item.platform_code+']'+item.api_code, weight: zh_ratio}
      // en_ratio = (Math.round(Math.random() * (10 - 5)) + 1)
      // tag_datas[item.api_code] = {key_word: '['+item.platform_code+']'+item.api_code, weight: en_ratio}
    })

    params = {
      tag_datas: tag_datas,
      tag_url: "javascript:ui.current_api.change('{key_word}');",
      url_target:"_self",
      chart_style: "width: 100%; height: 35%;",
      platform_code: 'dashboard',
      api_code: 'chart_other_tag_cloud'
    }

    url = "<%= request_api_result_restful_index_path() %>"
    space.network.ajax({type: 'Post', "url": url, "params" : params}, function (result) {
      if (!result[0]) return;
      ui.exposed_api.tag_cloud.html($('<div>').html(result[1]).text())
    })
  }
  
  ui.exposed_api.package = function (platform_code, platform) {
    jQuery.each(platform.exposed_api, function(key, info) {
      ui.exposed_api.add({name: info.name, platform_code: platform_code, api_code: key, explain: info.explain})
    })

    ui.current_api.select.add(platform_code, platform)
    ui.exposed_api.jumbotron.add(platform_code, platform)
  }

  ui.exposed_api.load = function () {
    url = "<%= exposed_api_restful_index_path() %>"
    space.network.ajax({"url": url}, function (result) {
      if (!result[0]) return;
      jQuery.each(result[1], function(platform_code, platform) {
        ui.exposed_api.package(platform_code, platform)
      })
    })
  }
  // ====== 开放接口相关结束 ======

  // ====== 当前选择api相关开始 ======
  ui.current_api = $('#current_api')

  ui.currentApi = function () {
    option = $("#current_api_select option:selected")
    if (!option.attr('platform_code')) return [false, '当前尚未选中api'];
    return [true, {platform_code: option.attr('platform_code'), api_code: option.attr('api_code')}]
  }

  ui.current_api.change = function (platform_code, api_code) {
    if (platform_code && api_code) {
      $('#current_api_select').val('['+platform_code+']'+api_code)
    }else if ((platform_code || '').indexOf("[") == 0) {
      // tmp = platform_code.split('[')[1].split(']')
      // return this.change(tmp[0], tmp[1])
      $('#current_api_select').val(platform_code)
    }

    res = ui.currentApi()
    if (!res[0]) {
      $('#current_api_submit_button').attr("disabled","true");
      $('#current_api_reset_params_value').attr("disabled","true");
      return
    }
    $("#current_api_submit_button").removeAttr("disabled");
    $("#current_api_reset_params_value").removeAttr("disabled");
    ui.api_results.hide()
    ui.api_forms.load({auto_load_result: true})
  }

  ui.current_api.select = $('#current_api_select')
  ui.current_api.select.add = function (platform_code, platform) {
    jQuery.each(platform.exposed_api, function(key, info) {
      option = document.createElement('option')
      option.setAttribute('value', '['+platform_code+']'+key)
      option.setAttribute('platform_code', platform_code)
      option.setAttribute('api_code', key)
      option.innerHTML = '['+platform_code+'] '+info.name+'---'+info.explain
      ui.current_api.select[0].appendChild(option)
    })
  }
  // ====== 当前选择api相关结束 ======

  // ====== api调用参数相关开始 ======
  ui.api_forms = $('#api_forms')

  ui.api_forms.current = function (params) {
    
    res = ui.currentApi()
    if (!res[0]) return [false, '当前尚未选择具体api接口'];

    defaultValues = {auto_load: false}
    params = $.extend({}, defaultValues, params)
    
    target_id = 'api_forms_'+res[1].platform_code+'_'+res[1].api_code
    target_object = $('#'+target_id)
    if (params.auto_load && (!target_object[0])) this.load();
    return [!!target_object[0], {id: target_id, object: target_object}]
  }

  ui.api_forms.hide = function () {
    $("form[class='api_forms_item']").each(function(){ $(this).addClass('d-none')});
  }

  ui.api_forms.package = function (target_id, target_info) {
    form = document.createElement('form')
    form.setAttribute('class', 'api_forms_item')
    form.setAttribute('id', target_id)
    form.setAttribute('accept-charset', 'UTF-8')
    
    table = document.createElement('table')
    table.setAttribute('class', 'table table-bordered table-striped table-hover')

    tr = document.createElement('tr')
    tds = [
      {class: 'text-center', name: '名称'},
      {class: 'text-center', name: '参数键'},
      {class: 'text-center w-25', name: '示例值'},
      {class: 'text-center w-25', name: '说明'},
      {class: 'text-center', name: '默认值'},
      {class: 'text-center', name: '参数类型'},
      {class: 'text-center', name: '是否必填'},
    ]
    jQuery.each(tds, function(index, detail) {
      td = document.createElement('td')
      td.setAttribute('class', detail.class)
      td.innerHTML = detail.name
      tr.appendChild(td)
    })
    table.appendChild(tr)

    jQuery.each(target_info.request_params, function(index, detail) {
      tr = document.createElement('tr')

      jQuery.each(['name', 'key'], function(index, key){
        td = document.createElement('td')
        td.setAttribute('class', 'text-center')
        td.innerHTML = (detail[key] || '无')
        tr.appendChild(td)
      })


      td = document.createElement('td')
      input = document.createElement('input')
      input.setAttribute('class', 'form-control')
      input.setAttribute('name', detail.key)
      if ((detail.example || '').constructor == Array){
        input.setAttribute('value', JSON.stringify(detail.example))
      }else{
        input.setAttribute('value', detail.example || '')
      }
      td.appendChild(input)
      tr.appendChild(td)

      jQuery.each(['explain', 'default', 'value_type'], function(index, key){
        td = document.createElement('td')
        if (index == 2) td.setAttribute('class', 'text-center');

        if ((detail[key] || '').constructor == Array){
          td.innerHTML = JSON.stringify(detail[key])
        }else{
          td.innerHTML = (detail[key] || '无')
        }

        tr.appendChild(td)
      })

      td = document.createElement('td')
      td.setAttribute('class', 'text-center')
      td.innerHTML = detail.necessary ? '是' : '否'
      tr.appendChild(td)

      table.appendChild(tr)
    })

    form.appendChild(table)
    this[0].appendChild(form)
  }

  ui.api_forms.load = async function (params) {
    res = ui.currentApi()
    if (!res[0]) return;
    this.hide()

    defaultValues = {auto_load_result: false}
    params = $.extend({}, defaultValues, params)

    target_id = 'api_forms_'+res[1].platform_code+'_'+res[1].api_code
    target_object = $('#'+target_id)
    if (target_object[0]){
      target_object.removeClass('d-none')
      res = ui.api_results.current({reload: false})
      if (res[0]) if (res[1].object[0]) res[1].object.removeClass('d-none')
      return
    }

    url = "<%= request_api_params_restful_index_path() %>"
    space.network.ajax({"url": url, params: {platform_code: res[1].platform_code, api_code: res[1].api_code}}, function (result) {
      if (!result[0]) return;
      ui.api_forms.package(target_id, result[1])
    })

    if (params.auto_load_result) {
      if (!ui.api_forms.current()[0]) {
        for (let i = 0; i < 1000; i++) {
          await space.other.sleep(1)
          if (ui.api_forms.current()[0]) i=1000;
        }
      }
      this.submit()
    }

  }

  ui.api_forms.reset_params_value = function () {
    res = this.current()
    if (!res[0]) return res;
    res[1].object[0].reset()
    return [true, '']
  }

  ui.api_forms.submit = function () {
    res = this.current()
    if (!res[0]) return res;
    
    url = "<%= request_api_result_restful_index_path() %>"
    params = res[1].object.closest('form').serialize()
    space.network.ajax({type: 'Post', "url": url, "params" : params}, function (result) {
      if (!result[0]) return;
      if (result[1].constructor === Object) {
        ui.api_results.handle_object(result[1])
      }else {
        ui.api_results.handle_html(result[1])
      }

    })
  }

  // ====== api调用参数相关结束 ======

  // ====== api返回结果相关开始 ======
  ui.api_results = $('#api_results')

  ui.api_results.current = function (params) {
    defaultValues = {present: false, reload: true}
    params = $.extend({}, defaultValues, params)
    res = ui.currentApi()
    if (!res[0]) return [false, '当前尚未选择具体api接口'];
    target_id = 'api_results_'+res[1].platform_code+'_'+res[1].api_code
    if (params.present) if (!$('#'+target_id)[0]) ui.api_forms.load();
    if (params.reload) if ($('#'+target_id)[0]) $('#'+target_id).remove()
    return [true, {id: target_id, object: $('#'+target_id)}]
  }

  ui.api_results.hide = function () {
    $("div[class='api_results_item']").each(function(){ $(this).addClass('d-none')});
  }

  ui.api_results.handle_object = function (object) {
    res = this.current()
    if (!res[0]) return res;
    this.hide()

    div = document.createElement('div')
    div.setAttribute('class', 'api_results_item')
    div.setAttribute('id', res[1].id)

    table = document.createElement('table')
    table.setAttribute('class', 'table table-bordered table-striped table-hover')

    tr = document.createElement('tr')
    tds = [
      {class: 'text-center', style: 'width: 15%;', name: '返回键'},
      {class: 'text-center', style: '', name: '返回值'}
    ]
    jQuery.each(tds, function(index, detail) {
      td = document.createElement('td')
      td.setAttribute('class', detail.class)
      td.setAttribute('style', detail.style)
      td.innerHTML = detail.name
      tr.appendChild(td)
    })
    table.appendChild(tr)

    jQuery.each(object, function(key, value) {
      tr = document.createElement('tr')

      td = document.createElement('td')
      td.setAttribute('class', 'text-right')
      td.innerHTML = key
      tr.appendChild(td)

      td = document.createElement('td')
      td.setAttribute('class', 'text-left')
      td.setAttribute('style', 'max-width: 500px')
      td.innerHTML = '<pre><code>'+JSON.stringify(value, undefined, 2)+'</code></pre>'
      tr.appendChild(td)

      

      table.appendChild(tr)
    })

    div.appendChild(table)
    this[0].appendChild(div)
  }

  ui.api_results.handle_html = function (html) {
    res = this.current()
    if (!res[0]) return res;
    this.hide()

    div = document.createElement('div')
    div.setAttribute('class', 'api_results_item')
    div.setAttribute('id', res[1].id)
    // div.innerHTML = html
    this[0].appendChild(div)
    
    $('#'+res[1].id).html($('#'+res[1].id).html(html).text())
  }
  // ====== api返回结果相关结束 ======

  async function main () {
    ui.exposed_api.load()

    if (!ui.exposed_api.all()[0]) {
      for (let i = 0; i < 1000; i++) {
        await space.other.sleep(10)
        if (ui.exposed_api.all()[0]) i=1000;
      }
    }
    ui.exposed_api.tag_cloud.load()
  }

  main()

</script>