<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<canvas id="<%= unique_codes[0] %>"></canvas>

<script type="text/javascript">
  var ctx = document.getElementById('<%= unique_codes[0] %>').getContext('2d');
  var chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: <%= x_sorts.to_json.html_safe %>,
      datasets: <%= line_datas.to_json.html_safe %>,
    },
    options: {
      title: {
        display: <%= title.present? %>,
        text: "<%= title %>"
      }
    }
  });
</script>
