<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    Datasets formatted in CSV or JSON can be fetched remotely using the
    <code>data</code> module. This chart shows how a chart can also be
    configured to poll against the remote source.
  </p>
</figure>

<script>

  function createChart() {
    Highcharts.chart('container', {
      chart: {
        type: 'spline'
      },
      title: {
        text: 'Live Data'
      },
      accessibility: {
        announceNewData: {
          enabled: true,
          minAnnounceInterval: 15000,
          announcementFormatter: function (allSeries, newSeries, newPoint) {
            if (newPoint) {
              return 'New point added. Value: ' + newPoint.y;
            }
            return false;
          }
        }
      },
      data: {
        csvURL: "<%= data_source_url.html_safe %>",
        enablePolling: true,
        dataRefreshRate: parseInt(<%= polling_time.to_i%>, 10)
      }
    });

  }

  // Create the chart
  createChart();

</script>

<style>
  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 360px;
    margin: 1em auto;
  }

  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }

  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }

  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }

  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }

  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }

  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }

  .ld-label {
    width: 200px;
    display: inline-block;
  }

  .ld-url-input {
    width: 500px;
  }

  .ld-time-input {
    width: 40px;
  }
</style>