<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<style>
  .highcharts-strong {
    font-weight: bold;
  }

  .highcharts-figure,
  .highcharts-data-table table {
    min-width: 320px;
    margin: 1em auto;
  }

  .highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
  }

  .highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
  }

  .highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
  }

  .highcharts-data-table td,
  .highcharts-data-table th,
  .highcharts-data-table caption {
    padding: 0.5em;
  }

  .highcharts-data-table thead tr,
  .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
  }

  .highcharts-data-table tr:hover {
    background: #f1f7ff;
  }
</style>

<figure class="highcharts-figure">
  <div id="container"></div>
  <p class="highcharts-description">
    <%= described.html_safe %>
  </p>
</figure>

<script type="text/javascript">

  Highcharts.chart('container', {
    chart: {
      type: 'timeline'
    },
    accessibility: {
      screenReaderSection: {
        beforeChartFormat: '<h5>{chartTitle}</h5>' +
          '<div>{typeDescription}</div>' +
          '<div>{chartSubtitle}</div>' +
          '<div>{chartLongdesc}</div>' +
          '<div>{viewTableButton}</div>'
      },
      point: {
        valueDescriptionFormat: '{index}. {point.label}. {point.description}.'
      }
    },
    xAxis: {
      visible: false
    },
    yAxis: {
      visible: false
    },
    title: {
      text: '<%= title %>'
    },
    subtitle: {
      text: '<%= subtitle.html_safe %>'
    },
    colors: [
      '#4185F3',
      '#427CDD',
      '#406AB2',
      '#3E5A8E',
      '#3B4A68',
      '#363C46'
    ],
    series: [{
      data: <%= line_datas.to_json.html_safe%>
    }]
  });

</script>