<!DOCTYPE html>
<html>
<head>
  <title>Wireway</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= 
    res = Wireway::Spark.dashboard(api_code: :publish_other_request_assets, rely_assets: ["bootstrap_4", "chart_js", "jQuery_3_5_1", "amcharts_4", "google_charts", "highcharts", "space", "ff4c00"])
    res[1].html_safe if res[0]
  %>

  <%= stylesheet_link_tag    "wireway/application", media: "all" %>
  <%= javascript_include_tag "wireway/application" %>
</head>
<body>
  <div class="container pt-3 main_title" id="space">

    <% flash.each do |state, message| %>
      <div class="alert <%= (state == 'error') ? 'alert-danger' : 'alert-success' %> alert-dismissable fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= message %>
      </div>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
