<div class='api_params_div hide' id="<%= @api_code %>_api_params">
  <h3 class="mt-5  mb-3">标准参数</h3>

  <div>
    <form accept-charset="UTF-8" id="<%= @api_code %>_api_params_form">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <td class="text-center">名称</td>
          <td class="text-center">参数键</td>
          <td class="text-center w-25">示例值</td>
          <td class="text-center w-25">说明</td>
          <td class="text-center" style='width: 10%;'>默认值</td>
          <td class="text-center">参数类型</td>
          <td class="text-center">是否必填</td>
        </tr>
        <% @current_api[:attributes].each do |param|%>
          <tr>
            <td><%= param[:name] %></td>
            <td><%= param[:key] %></td>
            <td>
              <input class='form-control' name='<%= param[:key] %>' value="<%= param[:example]%>"/>
            </td>
            <td class='tl'><%= param[:explain] %></td>
            <td class="<%= param[:default].nil? ? 'text-center' : nil %>"><%= param[:default]%></td>
            <td class="text-center"><%= param[:value_type] %></td>
            <td class="text-center"><%= param[:necessary] ? '是' : '否' %></td>
          </tr>
        <% end %>
      </table>
    </form>
  </div>

  <h3 class="mt-5  mb-3">数据提供商</h3>

  <div class="mt-3 mb-3">
    该接口由以下供应商提供原始数据,原始数据的获取会按照优先级选择,<br>
    当某一供应商无法提供原始数据(包含无法访问等各种情况)时,将尝试通过其他供应商获取原始数据.<br>
    当所有供应商均无法正常响应时,本次请求失败,请检查请求参数是否正确.
  </div>
  
  <div>
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <td class="text-center">优先级</td>
        <td colspan="2"></td>
      </tr>
      <% @current_api[:realizations].each_with_index do |realization, index| %>
        <tr>
          <td rowspan="3" class="text-center"><%= index+= 1%></td>
          <td class="text-right">提供商</td>
          <td><%= realization[:supplier_name]%></td>
        </tr>
        <tr>
          <td class="text-right">源数据地址</td>
          <td><%= realization[:source_url]%></td>
        </tr>
        <tr>
          <td class="text-right">原始数据处理方式</td>
          <td><%= realization[:source_data_handel_method]%></td>
        </tr>
        
      <% end %>
    </table>
  </div>

  <h3 class="mt-5  mb-3">标准返回数据格式</h3>
  <div>
    <table class="table table-bordered table-striped table-hover">
      <tr>
        <td class="text-center" rowspan="2">键</td>
        <td class="text-center" rowspan="2">值</td>
        <td class="text-center" colspan="<%= @current_api[:realizations].size %>">数据项实现情况</td>
      </tr>
      <tr>
        <% @current_api[:realizations].each do |realization|%>
          <td class="text-center"><%= realization[:supplier_name] %></td>
        <% end %>
      </tr>
      <% @current_api[:data_structure].each do |key, value|%>
        <tr>
          <td class="text-right"><%= key %></td>
          <td><%= value %></td>
          <% @current_api[:realizations].each do |realization|%>
            <td class="text-center">
              <%= realization[:data_structure].keys.include?(key) ? '是' : '否' %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

</div>