<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<canvas id="<%= unique_codes[0] %>"></canvas>

<script type="text/javascript">
  var ctx = document.getElementById('<%= unique_codes[0] %>').getContext('2d');
  var myPieChart = new Chart(ctx, {
    type: '<%= chart_type %>',
    data: {
      "labels": <%= labels.to_json.html_safe %>,
      "datasets":[
        {
          "data": <%= datas.to_json.html_safe %>,
          "backgroundColor": <%= part_colors.to_json.html_safe %>
        }
      ]
    },
    options: {
      title: {
        display: <%= title.present? %>,
        text: "<%= title %>"
      },
      responsive: true
    }
  });
</script>
