<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>
<!-- Styles -->
<style>
  .tag_cloud {
    width: 100% !important;
    height: 300px !important;
  }
</style>


<!-- Chart code -->
<script type="text/javascript">
  var current_uuid = "<%= unique_codes[0] %>"

    am4core.ready(function () {

      // Themes begin
      am4core.useTheme(am4themes_animated);
      // Themes end

      var chart = am4core.create(current_uuid, am4plugins_wordCloud.WordCloud);
      chart.fontFamily = "Courier New";
      chart.numberFormatter.numberFormat = "#";
      var series = chart.series.push(new am4plugins_wordCloud.WordCloudSeries());
      series.randomness = 0.1;
      series.rotationThreshold = 0.6;

      // 随机分配不同颜色
      series.colors = new am4core.ColorSet();
      series.colors.passOptions = {};

      series.data = <%= word_datas.to_json.html_safe %>;

      series.dataFields.word = "tag";
      series.dataFields.value = "weight";

      series.heatRules.push({
        "target": series.labels.template,
        "property": "fill",
        // 根据大小分配两种固定颜色
        // "min": am4core.color("#fd7e14"),
        // "max": am4core.color("#dc3545"),
        "dataField": "value"
      });

      series.labels.template.url = "<%= tag_url.html_safe %>";
      series.labels.template.urlTarget = "<%= url_target %>";
      // series.labels.template.tooltipText = "{word}: {value}";

      var hoverState = series.labels.template.states.create("hover");
      hoverState.properties.fill = am4core.color("#fd7e");

      // var subtitle = chart.titles.create();
      // subtitle.text = "(click to open)";

      // var title = chart.titles.create();
      // title.text = "Most Popular Tags @ StackOverflow";
      // title.fontSize = 20;
      // title.fontWeight = "800";

    }); // end am4core.ready()
</script>

<!-- HTML -->
<div class="tag_cloud" id="<%= unique_codes[0] %>" style="<%= chart_style.html_safe%>"></div>