<%# 文档: https://www.amcharts.com/docs/v4/tutorials/taming-candlestick-series/ %>

<%= load_rely_assets(assets: ["amcharts_4"], method: 'link_label') %>

<!-- Styles -->
<style>
#candlestick {
  width: 100%;
  height: 500px;
}
</style>

<!-- Chart code -->
<script type="text/javascript">
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("candlestick", am4charts.XYChart);
chart.paddingRight = 20;
chart.language.locale = am4lang_zh_Hans;

chart.dateFormatter.inputDateFormat = "yyyy-MM-dd";

var dateAxis = chart.xAxes.push(new am4charts.DateAxis());
dateAxis.renderer.grid.template.location = 0;
dateAxis.dateFormats.setKey("day", "MMMM dt");
dateAxis.periodChangeDateFormats.setKey("day", "MMMM dt"); 

var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
valueAxis.tooltip.disabled = true;

var series = chart.series.push(new am4charts.CandlestickSeries());
series.dataFields.dateX = "date";
series.dataFields.valueY = "close";
series.dataFields.openValueY = "open";
series.dataFields.lowValueY = "low";
series.dataFields.highValueY = "high";
series.simplifiedProcessing = true;
series.tooltipText = "开盘:{openValueY.value}\n最低:{lowValueY.value}\n最高:{highValueY.value}\n收盘:{valueY.value}";

series.riseFromOpenState.properties.fill = "<%= trend_color[0]%>";
series.riseFromOpenState.properties.stroke = "<%= trend_color[0]%>";
series.dropFromOpenState.properties.fill = "<%= trend_color[1]%>";
series.dropFromOpenState.properties.stroke = "<%= trend_color[1]%>";

chart.cursor = new am4charts.XYCursor();

// a separate series for scrollbar
var lineSeries = chart.series.push(new am4charts.LineSeries());
lineSeries.dataFields.dateX = "date";
lineSeries.dataFields.valueY = "close";
// need to set on default state, as initially series is "show"
lineSeries.defaultState.properties.visible = false;

// hide from legend too (in case there is one)
lineSeries.hiddenInLegend = true;
lineSeries.fillOpacity = 0.5;
lineSeries.strokeOpacity = 0.5;

var scrollbarX = new am4charts.XYChartScrollbar();
scrollbarX.series.push(lineSeries);
chart.scrollbarX = scrollbarX;

chart.data = <%= base_datas.to_json.html_safe %>;

}); // end am4core.ready()
</script>

<!-- HTML -->
<div id="candlestick"></div>