<%= load_rely_assets(assets: rely_assets, method: response_asset_type) %>

<script type="text/javascript">
  google.charts.load('current', {packages:['wordtree']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable(<%= word_datas.to_json.html_safe %>);

    var options = {
      wordtree: {
        format: 'implicit',
        word: "<%= root_word %>"
      }
    };

    var chart = new google.visualization.WordTree(document.getElementById('wordtree_basic'));
    chart.draw(data, options);
  }
</script>

<%# <div id="wordtree_basic" style="width: 900px; height: 500px;"></div> %>
<div id="wordtree_basic"></div>

